/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/roboto-v27-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v27-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v27-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
    box-sizing: border-box;
}
*{
    font-family: 'Roboto', sans-serif;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
*{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    padding: 0;
    margin: 0;
}
h2, h3 {
    padding: 0;
    margin: 0;
}
.container{
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
}
main{
    display: flex;
    justify-content: space-between;
}
.empty-div{
    height: 50px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-icons{
    display: flex;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuButton{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.menuButton:hover{
    opacity: 0.2;
}
.menuButton:active{
    opacity: 0.5;
}
.youtubeLogo{
    width: 100px;
    height: 48px;
    object-fit: cover;
}
.main-icons{
    display: flex;
    align-items: center;
}
.searchInput{
    width: 500px;
    height: 30px;
    border: 1px solid #CCCCCC;
    outline-color:#1A9AEF;
    padding: 0px 5px;
    border-radius: 3px;
}
.searchButton{
    height: 30px;
    position: relative;
    width: 60px;
    border: 1px solid #CCCCCC;
    background-color: #F8F8F8;
    border-left: none;
}
.searchButton::after{
    content: "Qidiruv";
    width: 100px;
    height: 30px;
    position: absolute;
    padding: 8px;
    top: 40px;
    left: -20px;
    color: white;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.9);
    display: none;
    opacity: 0.9;
}
.searchButton:hover{
    background-color: #E5E5E5;
}
.searchButton:hover::after {
    display: block;
}
.searchButton:active{
    opacity: 0.5;
}
.lupe{
    width: 20px;
    height: 20px;
}
.micrafon-wrapper{
    width: 45px;
    height: 45px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    border-radius: 50%;
    transition: background-color 0.5s ease;
    position: relative;
}
.mikrafon{
    width: 30px;
    height: 28px;
}
.micrafon-wrapper:hover>.mikrafon{
    opacity: 0.2;
}
.micrafon-wrapper::after{
    content: "Ovozli Qidiruv";
    width: 130px;
    height: 30px;
    position: absolute;
    padding: 8px;
    top: 48px;
    left: -20px;
    color: white;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.9);
    display: none;
    opacity: 0.9;
    text-align: center;
}
.micrafon-wrapper:hover::after{
    display: block;
}
.micrafon-wrapper:active {
    background-color: #CECECE;
}
.micrafon-wrapper:active>.mikrafon{
    opacity: 0.5;
}
.right-icons{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.right-imgs{
    width: 30px;
    height: 30px;
}
.kamera-after:hover>.right-imgs{
    opacity: 0.2;
}
.kamera-after:active>.right-imgs{
    opacity: 0.5;
}
.kamera-after:hover{
    position: relative;
}
.kamera-after:hover::after{
    display: block;
}
.kamera-after::after{
    content: "Yaratish";
    width: 100px;
    height: 30px;
    position: absolute;
    padding: 8px;
    top: 43px;
    left: -40px;
    color: white;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.9);
    display: none;
    opacity: 0.9;
    text-align: center;
}
.menu-wrapper{
    position: relative;
}
.menu-wrapper::after{
    content: "Menyu";
    width: 100px;
    height: 30px;
    position: absolute;
    padding: 8px;
    top: 43px;
    left: -30px;
    color: white;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.9);
    display: none;
    opacity: 0.9;
    text-align: center;
}
.menu-wrapper:hover::after{
    display: block;
}
.menu-wrapper:hover>.right-imgs{
    opacity: 0.2;
}
.menu-wrapper:active>.right-imgs{
    opacity: 0.5;
}
.bell-wrapper{
    position: relative;
}
.bell-wrapper::after{
    content: "Bilidirishnoma";
    width: 120px;
    height: 30px;
    position: absolute;
    padding: 8px;
    top: 43px;
    left: -40px;
    color: white;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.9);
    display: none;
    opacity: 0.9;
    text-align: center;
}
.bell-wrapper:hover::after{
    display: block;
}
.bell-wrapper:hover>.right-imgs{
    opacity: 0.2;
}
.bell-wrapper:active>.right-imgs{
    opacity: 0.5;
}
.admin-wrapper{
    position: relative;
}
.admin-wrapper::after{
    content: "Admin";
    width: 100px;
    height: 30px;
    position: absolute;
    padding: 8px;
    top: 43px;
    left: -40px;
    color: white;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.9);
    display: none;
    opacity: 0.9;
    text-align: center;
}
.admin-wrapper:hover::after{
    display: block;
}
.admin-wrapper:hover>.right-imgs{
    opacity: 0.2;
}
.admin-wrapper:active>.right-imgs{
    opacity: 0.5;
}
.left-site2{
    display: flex;
    flex-direction: column;
    width: 6%;
    display: none;
}
.left-site2-li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.left-site2-li:hover{
    background-color: #C8C8C8;
}
.left-site2-img{
    width: 30px;
    height: 30px;
}
.left-site2-h2{
    font-size: 13px;
}
.left-site{
    width: 18%;
    margin-top: 5px;
    height: 90vh;
    overflow: hidden;
    display: block;
}
.left-site:hover{
    overflow: auto;
}
.home{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 30px;
}
.home:hover{
    background-color: #E5E5E5;
}
.home-class{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.home-span{
    margin-left: 20px;
    color: #696969;
}
.active{
    background-color: #CDCDCD;
}
.active:hover{
    background-color: #CDCDCD;
}

.azoliklar-item{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 30px;
}
.azoliklar-img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.azolar{
    margin-left: 30px;
    color: #696969;
    font-weight: bold;
    font-size: 20px;
}
.iframe{
    width: 320px;
    height: 220px;
}
/* width */
::-webkit-scrollbar {
	width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	border-radius: 10px;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #909090;
	border-radius: 10px;
   
  }
  .right-site{
    background-color: #F9F9F9;
    width: 94%;
    overflow: auto;
    height: 92vh;
    overflow: hidden;
  }
  .right-site:hover{
      overflow: auto;
  }
  .main-item{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  .items{
    width: 320px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .title-wrapper{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
  }
  .cap{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
  }
  .title-wrapper-2{
      font-size: 10px;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      margin-left: 10px;
      height: 150px;
      width: 420px;
      overflow: hidden;
  }
  .title-wrapper-2:hover{
      overflow: auto;
  }
  .threeDot{
      display: block;
      height: 35px;
  }
  .threeDot:hover{
      opacity: 0.2;
  }
  .threeDot:active{
      opacity: 0.5;
  }
  .threeDot2{
      width: 30px;
      height: 30px;
      object-fit: cover;
  }
  .title{
      font-size: 20px;
      margin-bottom: 10px;
      color: #030303;
  }
  .korganlar{
      margin-top: 10px;
      font-size: 15px;
      color: #606060;
  }
  .ifrem-div{
      width: ;
  }

  /* modal */

  .modal-wrapper{
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.5);
      display: none;
      z-index: 7777;
  }
  .modal{
    position: fixed;
    top: 260px;
    left: 530px;
    width: 300px;
    height: 230px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.1);
    z-index: 10;
  }
  .modal-ul{
      /* border: 1px solid red; */
      width: 100%;
      height: 100%;
      margin-top: 10px;
  }
  .modal-li{
    display: flex;  
    padding: 5px 10px;
    align-items: center;
  }
  .modal-li:hover{
      background-color: #C8C8C8;
  }
  .modal-img{
      width: 20px;
      height: 20px;
      object-fit: cover;
  }
  .modal-h2{
      font-size: 13px;
      margin-left: 10px;
  }
  /*iframe-modal*/

  .iframe-wrapper{
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color:rgba(0,0,0,0.8);
      display: none;
      justify-content: center;
      align-items: center;
  }
  iframe{
      width: 700px;
      height: 400px;
  }
  .admin2{
      display: none;
  }
  .lupe2{
      display: none;
  }
  .responsivaSearch{
      display: none;
  }
  @media only screen and (max-width:500px){
      .left-site{
          display: none;
      }
      .menuButton{
          display: none;
      }
      .right-site{
          width: 100%;
      }
      .right-icons{
          display: none;
      }
      .main-item{
          justify-content: center;
      }
      .items{
          width: 90vw;
      }
      .iframe{
          width: 90vw;
      }
      .header-container{
          width: 90vw;
          display: flex;
      }
      .main-icons{
          width: 60%;
          display: flex;
          justify-content: flex-end;
      }
      .searchInput{
          display: none;
          position: relative;
      }
      .micrafon-wrapper{
          display: none;
          margin-left: auto;
          position: absolute;
      }
      .admin2{
          display: block;
          margin-left: auto;
      }
      .searchButton{
        display: none;
      }
      .lupe2{
          display: block;
          margin-right: 20px;
      }
      .searchButton:hover{
          position: 1;
          background-color: transparent;
      }
      .searchButton:hover::after{
          display: none;
      }
      .admin-wrapper:hover::after{
          display: none;
      }
      .modal{
        position: fixed;
        top: 20%;
        left: 25%;
        width: 50%;
      }
      .responsivaSearch{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 777;
      }
      .resSearchWrap{
          width: 100vw;
          background-color: white;
          height: 50px;
          position: absolute;
          top: 0px;
          z-index: 7777;
          display: flex;
          justify-content: space-around;
          align-items: center;
      }
      .responsiveimg{
          width: 35px;
          height: 30px;
          opacity: 0.5;
      }
      .responsiveimg:active{
          opacity: 0.9;
      }
      .responsivaSearchInput{
          width: 70%;
          border: none;
          outline: none;
          border-bottom: 1.5px solid blue;
          height: 30px;
          padding-bottom: 3px;
      }
      .responsiveSearchButton{
          border: none;
          background-color: transparent;
      }
      .responsiveSearchButton:active{
          opacity: 0.5;
      }
  }
